.container {
  font-family: 'Lato', sans-serif;
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}

h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #007FFF;
}

a {
  font-family: 'Shadows Into Light', cursive;
}

.header {
  font-size: 50px;

}

a:link, a:visited, a:active {
  color: #000000;
  text-decoration
}

a:hover {
  color: #000080;
  text-decoration: none;
}

input[type="text"] {
  font-family: 'Shadows Into Light', cursive;

}

.button {
  font-family: 'Lato', sans-serif;

}


