body {
  font-family: "Roboto Slab";
  font-size: 1em;
}

.flashcard {
  font-size: 1.5em;
}

.flashcard h1 {
  font-size: 2em;
}

.container {
  text-align: center;
  line-height: 3em;
  width: 800px;
  margin: auto;
}

table {
  text-align: center;
  margin: auto;
  font-size: 1.25em;
}

td {
  padding: 10px;
  color: #708090;
}

header {
  text-align: center;
}

nav {
  font-size: .5em;
  position: absolute;
  top: 0px;
  font-family: "Roboto Slab";
}

nav li {
  display: inline;
  padding-right: 30px;
  text-align: left;
}

nav a {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  font-size: 1.25em;
  color: #3fc0b6;
}

a:hover {
  color: #708090;
}

nav a:hover {
  color: #B0C4DE;
}

#startButton {
  margin-top: 50px;
  padding: 20px;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  border: 0px;
  background-color: #3fc0b6;
}

#pageHeader {
  font-family: Oswald;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  color: white;
  font-size: 50px;
  background-color: #3fc0b6;
  text-align: left;
  padding-left: 5px;
}

button, input[type="submit"] {
  font-family: "Roboto Slab";
  color: white;
  width: 100px;
/*  margin: 10px;*/
  font-size: 20px;
  border: 0px;
  border-radius: 5px;
  background-color: #3fc0b6;
}

button a {
  font-size: 20px;
  color: white;
}

input[type="button"]:disabled {
    background: lightgrey;
}


form, #list, form input {
  font-family: "Open Sans";
  font-size: 15px;
}

main {
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
}

.highlight {
  background-color: lightyellow;
}

.bought {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: black;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: line-through;
  color: gray;
}

.deleted {
  display: none;
}

.item {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: black;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;

}

#messageSpace {
  height: 30px;
}

.error {
  color: #B22222;
  font-size: 20px;
}
#otherMessage {

  font-family: "Oswald";
  font-size: 20px;
}

.multiple_choice {
  text-align: left;
}

.multiple_choice form {
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}
/*.container {
  font-family: 'Lato', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #007FFF;
}

.header {
  font-size: 50px;

}

a:link {
  color: #000000;
  text-decoration
}

a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000080;
  text-decoration: none;
}

a:active {
  color: #000000;
  text-decoration: none;
}*/




