<h1>Create User</h1>

<form class="button" action="/user/create" method="POST">

  Name:<input type="text" name="user[name]"><br>
  Choose your username:<input type="text" name="user[username]"><br>
  Create a password:<input type="text" name="user[password]"><br>
  Confirm your password:<input type="text" name="user[password_confirmation]"><br>
  <input type="submit" name="Submit">

</form>
