<h1>Create User</h1>

<form action="/user" method="POST">
  <% if @error %>
    <div class="error">
    <% @error.each do |attribute, messages| %>
      <% messages.each do |message| %>
        <%= attribute.capitalize %> : <%= message %><br>
      <% end %>
    <% end %>
    </div>
  <% end %>
  <br>
  <input type="text" name="user[name]" placeholder="Name"><br>
  <input type="text" name="user[username]" placeholder="Username"><br>
  <input type="password" name="user[password]" placeholder="Create a password"><br>
  <input type="password" name="user[password_confirmation]" placeholder="Confirm your password"><br>
  <input type="submit" name="Submit">

</form>
