<h1>Sign In</h1>

<form class="button" action="/session" method="POST">
  Username:<input type="text" name="username"><br>
  Password:<input type="text" name="password"><br>
  <input type="submit" name="Submit">
</form>
