<h3>List of Decks</h3>
<table>
  <% @decks.each do |deck| %>
  <tr>
  	<td><%= deck.name %><td>
    <td><a href="/deck/<%= deck.id %>">Flashcards</a> | <a href="/deck/<%= deck.id %>/multiple">Multiple Choice</a><td>
    <td>By: <%= deck.user.name %><td>
  </tr>
  <% end %>
</table>
