  <a href="/">Home</a>
  <h1>Flashcards</h1>
  <a href="/session/new">Sign in</a>
  <a href="/create_user">Create Account</a>

  <h3>The most educational/fun experience of your life. YES, of your life! I said it!</h3>

